table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    background-color: white;
    margin: 0;
    top: -5px;
}

.table-container {
    max-height: 425px;
    /* Set the max height for tbody to enable scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.table {
    padding: 0;
}