#search{ 
    width:90%;
    margin: 100px auto;
}


.productMenu img {
    width: 180px;
    height: 130px;
    margin-bottom: 5px;
    object-fit: cover;
}

.productMenu {
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.productMenu:hover {
    color: red;
    border-color: red;
}

.text-center {
    margin-top: 20px;
}


