table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    background-color: white;
    margin: 0;
    top: -5px;
}

.table-container {
    max-height: 425px;
    overflow-y: auto;
  
}

.table {
    padding: 0;
}