
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-backdrop {
    display: none;
}



.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 10px 16px;
    background-color: white;
    border-top: 1px solid white;
    border-radius: 0 0 5px 5px;
}

/* Alert styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: white;
    border-color: white;
}

.alert-danger {
    color: #a94442;
    background-color: white;
    border-color: #ebccd1;
}

/* Table styles */
.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
}

.table th,
.table td {
    padding: 15px;
    border-top: 1px solid white;
}

.table th {
    font-weight: bold;
    background-color: white;
}

/* Additional styles for buttons inside table cells */
td button {
    width: calc(100%);
    margin-bottom: 20px;
}
